.jumbotron {
    min-height: 60vh;
}

.jumbotron-bg-picture {
    background: url('../assets/header.jpg') no-repeat;
    background-size: cover;
    background-position: bottom;
}

.color-textdark {
    color: #333333;
}

.color-textlight { 
color: #828282;
}

#navbarCollapse a { 
    color: #333333;
}

.btn-primary { 
border: none !important;
width: 90px;    
}

.bg-link { 
background-color: #f8d9e0;
}

.buttons-cattegories { 
    background-color: #e7e8e9;
    border: none;
    border-radius: 15px;    
    height: 120px;
}

.cart-selection { 
    height: 600px;
    width: 300px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-image: url(../assets/coats/coat-4.jpg);
    background-size: 50%;
    background-repeat: repeat;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}

.details-selection {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 430px;
    background-color: white;
}

.size-wrapper {
    padding: 0.4em 1em;  
}
    
.size-wrapper label { 
    display: none;    
}
    
.size-wrapper input { 
    font-size: 0.9em;
    width: 24px; 
    height: 24px;   
    text-align: center;
    box-shadow: 0px 2px 2px #999;
    border: none;
    cursor: pointer;
}
    
.text-size { 
font-size: 0.8em;    
}

.button-custom {
width: 100%;
background-color: #333333;
border: none;
}

@media (max-width: 768px) {
#navbarCollapse ul a { 
background-color: transparent;
}

.modal-dialog {
margin: 0 auto;  
}

}

@media (max-width: 576px) {
.buttons-cattegories{
height: 60px;
}
   
}